//- ----------------------------------
//- 💥 DEMOS > DISPLACY ENT
//- ----------------------------------

//- Variables

//$theme-bg: #37c7c9
$theme-bg: #4357ad
$theme-bg2: desaturate(darken($theme-bg, 8), 5)
$theme-color: #fff


//- Imports

@import base
@import ui


//- Container

.o-main
    width: 100%

.o-container
    padding: 3rem 5rem 5rem
    overflow: auto
